<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Participantes</ion-label>
      </ion-list-header>


      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>


      <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>João</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>Pedro</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>Maria</ion-label>
      </ion-item>
        


      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
    <ion-button size="small" color="danger">Adicionar</ion-button>
</ion-content>
