<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Sapien nec sagittis aliquam malesuada bibendum arcu vitae.<br>
  </p>
  <p>&nbsp;&nbsp;&nbsp;Magna fringilla urna porttitor rhoncus dolor purus non. 
    Dolor sit amet consectetur adipiscing elit ut aliquam purus. 
    Massa id neque aliquam vestibulum. Sed euismod nisi porta 
    lorem mollis aliquam. Euismod in pellentesque massa placerat. 
    Potenti nullam ac tortor vitae.
  </p>


</ion-content>
